body {
  background: red; }

h1 {
  color: red; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImN1c3RvbS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsZUFBYyxFQUFBOztBQUVoQjtFQUNFLFVBQVMsRUFBQSIsImZpbGUiOiJjdXN0b20uY3NzIiwic291cmNlc0NvbnRlbnQiOlsiYm9keXtcbiAgYmFja2dyb3VuZDpyZWQ7XG59XG5oMXtcbiAgY29sb3I6cmVkO1xufSJdfQ== */
